header {
    font-size: 100px;
    font-family:;
    font-stretch: wider;
    color: eggplant;
   font-stretch: extra-condensed;
   text-align: center;
   background-image: image(http://www.100layercake.com/blog/2014/07/25/recent-popular-pins-pinterest-wedding-inspiration/);

}

    
span{
    font-weight:bolder ;
} 

nav li{
    display: inline-block;
    margin: 80px;
    font-weight: 800;
font-size: larger;

}
 h1{     
    color: #420a55;
}


body {
    background:rgb(245, 219, 233);
    text-align: center;
    }
    button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }
div{

    text-align: left;
}
    p{

        font-size: 20px;
    }


img {
    
        -webkit-box-reflect: right;
        size: 1000px;
        object-fit: fill;
      }

    .flowers{
        width: 800px;
        opacity: 0.5;
    }
footer{

    text-align: center;
}